swagger: '2.0'
info:
  version: '2.0.0'
  title: secuconnect API
host: connect-testing.secupay-ag.de
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /oauth/token:
    post:
      description: ''
      summary: oAuth token appuser
      tags:
        - Auth (oauth)
      operationId: oAuth token appuser
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: grant_type
          in: formData
          required: true
          type: string
          description: ' The type of the credentials'
          enum: [client_credentials,appuser,refresh_token,device]
        - name: client_id
          in: formData
          required: true
          type: string
          description: 'The Client-ID'
          default: '09ae83af7c37121b2de929b211bad944'
        - name: client_secret
          in: formData
          required: true
          type: string
          description: 'The Client-Secret'
          default: '9c5f250b69f6436cb38fd780349bc00810d8d5051d3dcf821e428f65a32724bd'
        - name: username
          in: formData
          required: false
          type: string
          description: 'The user name (required for grant_type "appuser")'
        - name: password
          in: formData
          required: false
          type: string
          description: 'The user password (required for grant_type "appuser")'
        - name: device
          in: formData
          required: false
          type: string
          description: 'The device id (uuid) (required for grant_type "device")'
        - name: 'deviceinfo[name]'
          in: formData
          required: false
          type: string
          description: 'The device name'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/OAuth200'
        '400':
          description: ''
          schema:
            $ref: '#/definitions/OAuth400'

  /api/v2/Payment/Customers/{ID}:
    get:
      description: 'Get the data of a specific customer'
      summary: Get the data of a specific customer
      tags:
        - Payment.Customers
      operationId: Payment/Customers/PCU_XXX
      produces:
        - application/json
      parameters:
        - in: path
          name: ID
          type: string
          required: true
          description: 'The ID of the customer (PCU_...)'
          format: 'PCU_[A-Z0-9]'
        - in: header
          name: Authorization
          type: string
          required: true
          description: 'The access token'
          format: 'Bearer [a-z0-9]'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GetCustomers200'
        '404':
          description: 'No data found'
          schema:
            $ref: '#/definitions/NotFound'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    put:
      description: ''
      summary: Payment/Customers/pcu_xxxxx
      tags:
        - Payment.Customers
      operationId: Payment/Customers/pcu_xxxxx
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/Customer'
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: PUT
            uri: /Payment/Customers/PCU_DZA92XXXZ2M49MRW875XUHXR9A8DAA
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "contact": {
                      "salutation": "Mr.",
                      "title": "Dr.",
                      "forename": "John",
                      "surname": "Doe",
                      "companyname": "Example Inc.",
                      "dob": "1901-02-03",
                      "email": "example@example.com",
                      "phone": "0049-123-456789",
                      "mobile": "0049-987-654321",
                      "address": {
                          "street": "Example Street",
                          "street_number": "6a",
                          "postal_code": "01234",
                          "city": "Examplecity",
                          "country": "Germany"
                      }
                  }
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Customers/pcu_xxxxx
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      description: ''
      summary: Payment/Customers/pcu_xxxxx
      tags:
        - Payment.Customers
      operationId: Payment/Customers/pcu_xxxxx2
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: DELETE
            uri: /Payment/Customers/PCU_DZA92XXXZ2M49MRW875XUHXR9A8DAA
            headers:
              Accept: application/json
              Content-Type: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Customers/pcu_xxxxx2
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupaydebits:
    post:
      description: Create a new debit transaction
      summary: Payment/Secupaydebits
      tags:
        - Payment.Secupaydebits
      operationId: Payment/Secupaydebits
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/TODO'
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Secupaydebits
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "subscription": {
                    "id": "932"
                  },
                  "amount": "100",
                  "purpose": "for what text",
                  "contact": {"email": "test@example.com"},
                  "basket": [
                      {
                          "item_type": "article",
                          "name": "Super fancy product - 45,00 EUR",
                          "price": 4500,
                          "quantity": 1,
                          "tax": 19,
                          "total": 4500
                      },
                      {
                          "item_type": "shipping",
                          "name": "DHL Paket National - 4,90 EUR",
                          "price": 490,
                          "quantity": 1,
                          "tax": 19,
                          "total": 490
                      },
                      {
                          "apikey": "37373c132df0299c5bdcf7c7638dd47aa41a2fe2",
                          "item_type": "stakeholder_payment",
                          "name": "platform fee",
                          "price": 249,
                          "quantity": 1,
                          "total": 249
                      }]
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupaydebits
          x-testDescription: Create a new debit transaction
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Containers/pct_xxxxx:
    put:
      description: ''
      summary: Payment/Containers/pct_xxxxx
      tags:
        - Payment.Containers
      operationId: Payment/Containers/pct_xxxxx1
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          required: true
          description: ''
          schema:
            $ref: '#/definitions/TODO'
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: PUT
            uri: /Payment/Containers/pct_xxxxx
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "type": "bank_account",
                  "private": {
                      "owner": "John Doe",
                      "iban": "DE12123456781234567890",
                      "bic": "ABCDDE12XXX"
                  }
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Containers/pct_xxxxx1
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      description: ''
      summary: Payment/Containers/pct_xxxxx
      tags:
        - Payment.Containers
      operationId: Payment/Containers/pct_xxxxx
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: DELETE
            uri: /Payment/Containers/pct_xxxxx
            headers:
              Accept: application/json
              Content-Type: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Containers/pct_xxxxx
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Customers:
    get:
      description: ''
      summary: Payment/Customers
      tags:
        - Payment.Customers
      operationId: Payment/Customers
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /Payment/Customers
            headers:
              Accept: application/json
              Content-Type: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Customers
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: ''
      summary: Payment/Customers
      tags:
        - Payment.Customers
      operationId: Payment/Customers1
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Customers
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "contact": {
                      "salutation": "Mr.",
                      "title": "Dr.",
                      "forename": "John",
                      "surname": "Doe",
                      "companyname": "Example Inc.",
                      "dob": "1901-02-03",
                      "email": "example@example.com",
                      "phone": "0049-123-456789",
                      "mobile": "0049-987-654321",
                      "address": {
                          "street": "Example Street",
                          "street_number": "6a",
                          "postal_code": "01234",
                          "city": "Examplecity",
                          "country": "Germany"
                      }
                  }
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Customers1
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Containers/pct_xxxxx/assign/pcu_xxxxx:
    post:
      description: ''
      summary: 'Payment/Containers/pct_xxxxx assign '
      tags:
        - Payment.Containers
      operationId: 'Payment/Containers/pct_xxxxx assign '
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Containers/pct_xxxxx/assign/pcu_xxxxx
            headers:
              Accept: application/json
              Content-Type: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: 'Payment/Containers/pct_xxxxx assign '
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupaycreditcards/xxx:
    get:
      description: ''
      summary: Payment/Secupaycreditcards/xxx
      tags:
        - Payment.Secupaycreditcards
      operationId: Payment/Secupaycreditcards/xxx
      produces:
        - application/json
      parameters:
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /Payment/Secupaycreditcards/xxx
            headers:
              Content-Type: application/json
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupaycreditcards/xxx
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Transactions:
    get:
      description: ''
      summary: Payment/Transactions
      tags:
        - Payment.Transactions
      operationId: Payment/Transactions
      produces:
        - application/json
      parameters:
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /Payment/Transactions
            headers:
              Content-Type: application/json
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Transactions
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupayinvoices/xxx:
    get:
      description: ''
      summary: Payment/Secupayinvoices/xxx
      tags:
        - Payment.Secupayinvoices
      operationId: Payment/Secupayinvoices/xxx
      produces:
        - application/json
      parameters:
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /Payment/Secupayinvoices/xxx
            headers:
              Content-Type: application/json
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupayinvoices/xxx
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupayprepays/xxxxx/cancel:
    post:
      description: ''
      summary: Payment/Secupayprepays/hash_id/cancel
      tags:
        - Payment.Secupayprepays
      operationId: Payment/Secupayprepays/hash_id/cancel
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Secupayprepays/xxxxx/cancel
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "contract": "contract_id if transaction is for subcontract, empty if not!"
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupayprepays/hash_id/cancel
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupayinvoices/xxxxc/cancel:
    post:
      description: ''
      summary: Payment/Secupayinvoices/hash_id/cancel
      tags:
        - Payment.Secupayinvoices
      operationId: Payment/Secupayinvoices/hash_id/cancel
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Secupayinvoices/xxxxc/cancel
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "contract": "contract_id if transaction is for subcontract, empty if not!"
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupayinvoices/hash_id/cancel
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupayprepays/xxx:
    get:
      description: ''
      summary: Payment/Secupayprepays/xxx
      tags:
        - Payment.Secupayprepays
      operationId: Payment/Secupayprepays/xxx
      produces:
        - application/json
      parameters:
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /Payment/Secupayprepays/xxx
            headers:
              Content-Type: application/json
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupayprepays/xxx
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Contracts/me/clone:
    post:
      description: ''
      summary: Payment/Contracts clone
      tags:
        - Payment.Contracts
      operationId: Payment/Contracts clone
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
          examples:
            application/json:
              apikey: 7c0558743748e2872a30b8a839d15d7434d3fdf7
              contract_id: PCR_27CQJ0AS22M7TT8BX75XUP50TY0UA2
              payin_account:
                accountowner: 'null'
                iban: 'null'
                bic: 'null'
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Contracts/me/clone
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "contact": {
                    "id": "CNT_2PJXRWYRK2YATU9MB5GQGJPRR3Q3AJ"
                  },
                  "project": "project_name 2017-05-15 #2",
                  "payout_account": {
                      "iban" : "DE89370400440532013000",
                      "bic" : "",
                      "owner": "Test #1"
                  },
                  "iframe_opts": {
                    "show_basket": true,
                    "basket_title": "Projext XY unterstützen",
                    "submit_button_title": "Zahlungspflichtig unterstützen"
                  },
                  "payin_account": false
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: RAW
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers:
              Accept: application/json
              Access-Control-Allow-Headers: 'Content-Type, Accept, Authorization'
              Access-Control-Allow-Methods: 'POST, GET, PUT, DELETE, OPTIONS'
              Access-Control-Allow-Origin: '*'
              Access-Control-Max-Age: '600'
              Cache-Control: 'no-store, no-cache, must-revalidate, post-check=0, pre-check=0'
              Connection: Keep-Alive
              Content-Length: '165'
              Content-Type: application/json
              Date: 'Mon, 24 Apr 2017 12:05:42 GMT'
              Expires: 'Thu, 19 Nov 1981 08:52:00 GMT'
              Keep-Alive: timeout=15
              Pragma: no-cache
              Server: Apache/2.2.22 (Debian)
            body: '{"apikey":"7c0558743748e2872a30b8a839d15d7434d3fdf7","contract_id":"PCR_27CQJ0AS22M7TT8BX75XUP50TY0UA2","payin_account":{"accountowner":"null","iban":"null","bic":"null"}}'
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Contracts clone
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Contracts/pcr_xxxxx:
    delete:
      description: ''
      summary: Payment/Contracts/pcr_xxxxx
      tags:
        - Payment.Contracts
      operationId: Payment/Contracts/pcr_xxxxx
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: DELETE
            uri: /Payment/Contracts/pcr_xxxxx
            headers:
              Accept: application/json
              Content-Type: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Contracts/pcr_xxxxx
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupaydebits/xxxxc/cancel:
    post:
      description: ''
      summary: Payment/Secupaydebits/hash_id/cancel
      tags:
        - Payment.Secupaydebits
      operationId: Payment/Secupaydebits/hash_id/cancel
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Secupaydebits/xxxxc/cancel
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "contract": "contract_id if transaction is for subcontract, empty if not!"
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupaydebits/hash_id/cancel
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupaydebits/xxx:
    get:
      description: ''
      summary: Payment/Secupaydebits/xxx
      tags:
        - Payment.Secupaydebits
      operationId: Payment/Secupaydebits/xxx
      produces:
        - application/json
      parameters:
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /Payment/Secupaydebits/xxx
            headers:
              Content-Type: application/json
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupaydebits/xxx
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Containers/pct_xxxxx/assign:
    delete:
      description: ''
      summary: Payment/Containers/pct_xxxxx assign
      tags:
        - Payment.Containers
      operationId: Payment/Containers/pct_xxxxx assign
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: DELETE
            uri: /Payment/Containers/pct_xxxxx/assign
            headers:
              Accept: application/json
              Content-Type: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Containers/pct_xxxxx assign
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Containers:
    get:
      description: ''
      summary: Payment/Containers
      tags:
        - Payment.Containers
      operationId: Payment/Containers1
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /Payment/Containers
            headers:
              Accept: application/json
              Content-Type: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Containers1
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: ''
      summary: Payment/Containers
      tags:
        - Payment.Containers
      operationId: Payment/Containers
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Containers
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "type": "bank_account",
                  "private": {
                      "owner": "John Doe",
                      "iban": "DE12500105170648489890",
                      "bic": "ABCDDE12XXX"
                  }
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Containers
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Contracts/me/RequestId:
    post:
      description: ''
      summary: Payment/Contracts requestId
      tags:
        - Payment.Contracts
      operationId: Payment/Contracts requestId
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Contracts/me/RequestId
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "contact": {
                    "id": "CNT_2A3CJ9EEQ2MG9EFGX75XU95VEGGCA3"
                  },
                  "project": "project_name 2017-05-15 #123",
                  "payout_account": {
                      "iban" : "DE89370400440532013000",
                      "bic" : "",
                      "owner": "Test #1"
                  },
                  "iframe_opts": {
                    "show_basket": true,
                    "basket_title": "Projext XY unterstützen",
                    "submit_button_title": "Zahlungspflichtig unterstützen"
                  },
                  "payin_account": false
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Contracts requestId
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupayprepays:
    post:
      description: Create a new prepay transaction
      summary: Payment/Secupayprepays
      tags:
        - Payment.Secupayprepays
      operationId: Payment/Secupayprepays
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Secupayprepays
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "customer": "PCU_WWNA76JGY2MB3BKAX75XU7DTHFWJA9",
                  "amount": "100",
                  "currency": "EUR",
                  "purpose": "for what text",
                  "order_id": "ZZZZZZ",
                  "redirect_url": {
                    "url_success": "http://shop.example.com?success=true",
                    "url_failure": "http://shop.example.com?success=false",
                    "url_push": "https://requestb.in/14f6a1j1"
                  }
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupayprepays
          x-testDescription: Create a new prepay transaction
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupaycreditcards/xxxxc/cancel:
    post:
      description: ''
      summary: Payment/Secupaycreditcards/hash_id/cancel
      tags:
        - Payment.Secupaycreditcards
      operationId: Payment/Secupaycreditcards/hash_id/cancel
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Secupaycreditcards/xxxxc/cancel
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "contract": "contract_id if transaction is for subcontract, empty if not!"
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupaycreditcards/hash_id/cancel
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupaycreditcards:
    post:
      description: Create a new creditcard transaction
      summary: Payment/Secupaycreditcards
      tags:
        - Payment.Secupaycreditcards
      operationId: Payment/Secupaycreditcards
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Secupaycreditcards
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "customer": "PCU_WWNA76JGY2MB3BKAX75XU7DTHFWJA9",
                  "amount": "100",
                  "currency": "EUR",
                  "order_id": "ZZZZZZ",
                  "accrual" : true
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupaycreditcards
          x-testDescription: Create a new creditcard transaction
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Contracts/PCR_3MUDP20MP2M3M2HWX75XUQYPFK2JA9:
    get:
      description: ''
      summary: Payment/Contracts/pcr_xxxxx
      tags:
        - Payment.Contracts
      operationId: Payment/Contracts/pcr_xxxxx1
      produces:
        - application/json
      parameters:
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: /Payment/Contracts/PCR_3MUDP20MP2M3M2HWX75XUQYPFK2JA9
            headers:
              Accept: application/json
              Content-Type: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Contracts/pcr_xxxxx1
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Secupayinvoices:
    post:
      description: Create a new invoice transaction
      summary: Payment/Secupayinvoices
      tags:
        - Payment.Secupayinvoices
      operationId: Payment/Secupayinvoices
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Secupayinvoices
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "customer": "PCU_2WBK46JNR2M54WHP875XUP0CQGBJAK",
                  "amount": "100",
                  "currency": "EUR",
                  "purpose": "for what text",
                  "order_id": "ZZZZZZ"
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Secupayinvoices
          x-testDescription: Create a new invoice transaction
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Contracts:
    get:
      description: ''
      summary: Payment/Contracts
      tags:
        - Payment.Contracts
      operationId: Payment/Contracts
      produces:
        - application/json
      parameters:
        - name: q
          in: query
          required: true
          type: string
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: GET
            uri: '/Payment/Contracts?q=id:PCR_3MUDP20MP2M3M2HWX75XUQYPFK2JA9'
            headers:
              Accept: application/json
              Content-Type: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Contracts
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      description: ''
      summary: Payment/Contracts
      tags:
        - Payment.Contracts
      operationId: Payment/Contracts1
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-unitTests:
        - request:
            method: POST
            uri: /Payment/Contracts
            headers:
              Content-Type: application/json
              Accept: application/json
              Accept-Charset: utf-8
              Authorization: 'Bearer {{access_token}}'
            body: |-
              {
                  "merchant": "MRC_WVHJQFQ4JNVYNG5B55TYK748ZCHQP8",
                  "internal_reference": "181365",
                  "contract_id": 49760,
                  "demo": true,
                  "debit_product_id": 20,
                  "prepay_product_id": 37,
                  "invoice_product_id": 329,
                  "creditcard_product_id": 21,
                  "url_push": "http://requestb.in/xcrbzxxc",
                  "allow_transactions": true,
                  "allow_cloning": true,
                  "unique_order_id": false,
                  "scoring": true,
                  "sepa_mandate_inform": "never"
              }
          expectedResponse:
            x-allowExtraHeaders: true
            x-bodyMatchMode: NONE
            x-arrayOrderedMatching: false
            x-arrayCheckCount: false
            x-matchResponseSchema: true
            headers: {}
          x-testShouldPass: true
          x-testEnabled: true
          x-testName: Payment/Contracts1
          x-testDescription: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /api/v2/Payment/Contracts/PCR_2C0S37QHH2MASN9V875XU3YFNM8UA6:
    put:
      description: ''
      summary: Payment/Contracts/pcr_xxxxx
      tags:
        - Payment.Contracts
      operationId: Payment/Contracts/pcr_xxxxx2
      produces:
        - application/json
      parameters:
        - name: Body
          in: body
          schema:
            $ref: '#/definitions/TODO'
          required: true
          description: ''
        - name: Accept
          in: header
          required: true
          type: string
          description: ''
        - name: Content-Type
          in: header
          required: true
          type: string
          description: ''
        - name: Accept-Charset
          in: header
          required: true
          type: string
          description: ''
        - name: Authorization
          in: header
          required: true
          type: string
          description: ''
      responses:
        '200':
          description: ''
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
definitions:
  OAuth200:
    title: 'oauth 2.0 successful response'
    type: object
    properties:
      access_token:
        description: 'The acces token'
        type: string
        example: 'd1p7enuvrqc7hksgppfaherk51'
      expires_in:
        description: 'Expire time in seconds'
        type: integer
        example: 1200
      token_type:
        description: 'The type of the access token'
        type: string
        example: 'bearer'
      scope:
        description: 'The scope name'
        type: string
        example: 'https://scope.secucard.com/e/api'
  OAuth400:
    title: 'oauth 2.0 error response'
    type: object
    properties:
      error:
        description: 'The acces token'
        type: string
        example: 'invalid_client'
      error_description:
        description: 'Expire time in seconds'
        type: string
        example: 'The client credentials are invalid'
  NotFound:
    title: 'Not found error response'
    type: object
    properties:
      status:
        description: 'Response-Status'
        type: string
        enum: ['error']
        example: 'error'
      error:
        description: 'Exception name'
        type: string
        example: 'ProductNotFoundException'
      error_details:
        description: 'Exception details'
        type: string
        example: 'Unknown id'
      error_user:
        description: 'Exception details for the user'
        type: string
        example: 'Es ist ein unbekannter Fehler aufgetreten'
      code:
        description: 'Exception name'
        type: integer
        example: 0
      supportId:
        description: 'Support-ID'
        type: string
        example: 'ae39890c91374e5422a16d11476ab96b'
  GetCustomers200:
    title: 'Reponse of get customer (list)'
    type: object
    properties:
      count:
        description: 'The number of existing entries'
        type: integer
        example: 104
      data:
        description: 'The list of entries'
        type: array
        items:
          $ref: '#/definitions/Customer'
  Customer:
    title: 'The customer object'
    type: object
    properties:
      object:
        description: 'TODO'
        type: string
        example: 'payment.customers'
      id:
        description: 'TODO'
        type: string
        example: 'PCU_3KN6K4B0V2MF9N7U875XUQTTNM8UA6'
      contact:
        $ref: '#/definitions/Contact'
      contract:
        $ref: '#/definitions/Contract'
      created:
        description: 'TODO'
        type: string
        example: '2017-10-19T21:22:50+02:00'
      updated:
        description: 'TODO'
        type: string
        example: '2017-10-19T22:11:00+02:00'
  Contract:
    title: 'The contract object'
    type: object
  Contact:
    title: 'The contact object'
    type: object
    properties:
      forename:
        description: 'The firstname'
        type: string
        example: 'John'
      surname:
        description: 'The lastname'
        type: string
        example: 'Doe'
      companyname:
        description: 'The name of the company'
        type: string
        example: 'Testfirma'
      name:
        description: 'The forename + surname'
        type: string
        example: 'John Doe'
      salutation:
        description: 'The salutation'
        type: string
        example: 'Mr.'
      title:
        description: 'The name title'
        type: string
        example: 'Dr.'
      email:
        description: 'The email address'
        type: string
        example: 'mail@example.com'
      phone:
        description: 'The phone number'
        type: string
        example: '0049-123456789'
      birthplace:
        description: 'Birthplace'
        type: string
        example: 'MyBirthplace'
      nationality:
        description: 'Nationality - ISO-Code (2-Char)'
        type: string
        example: 'DE'
      dob:
        description: 'Date of birth'
        type: string
        example: '1971-02-03'
      mobile:
        description: 'The mobile number'
        type: string
        example: '0049-123456789'
      address:
        $ref: '#/definitions/Address'
  Address:
    title: 'The address object'
    type: object
    properties:
      street:
        description: 'The street (with or without street_number)'
        type: string
        example: 'Example Street'
      street_number:
        description: 'The street number (as seperate field)'
        type: string
        example: '6a'
      postal_code:
        description: 'The postal code'
        type: string
        example: '01234'
      city:
        description: 'The city'
        type: string
        example: 'ExampleCity'
      country:
        description: 'The country - ISO-Code (2-Char)'
        type: string
        example: 'DE'
    required:
      - street
      - postal_code
      - city
      - country
  TODO:
    title: 'TODO'
    type: object
